/* Rest */
* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, form, label, article, aside, figure, figcaption, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, figcaption, figure, footer, header, nav, section, img {
  display: block;
}

/* Font */
h1, h2, h3, h4, h5, h6, p, a, label, div, span {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/* Content */
body {
  background-color: #d6d9c8;
  position: relative;
  overflow-x: hidden;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

/* Content - Audioplayer */
aside#audioplayer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: red;
  z-index: 10;
  overflow: hidden;
}

aside#audioplayer.audioplayer-close {
  width: 20vw;
}

aside#audioplayer.audioplayer-close #slide-background {
  left: 0;
}

aside#audioplayer.audioplayer-close .slider-container {
  margin-left: calc(-50vw + 10px);
}

aside#audioplayer .arrow {
  background-color: #5f5f5f;
  height: 40px;
  width: 40px;
  position: absolute;
  top: calc(50% - 20px);
  right: calc(25vw - 25px);
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 1;
  pointer-events: all;
}

aside#audioplayer .arrow::before {
  content: "";
  border-bottom: 2px solid #fff;
  height: 19px;
  width: 14px;
  position: absolute;
  top: 0;
  left: 11px;
}

aside#audioplayer .arrow::after {
  content: "";
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 14px;
  left: 13px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

aside#audioplayer #audioplayer-arrow-left {
  left: calc(25vw - 25px);
}

aside#audioplayer #audioplayer-arrow-left::before {
  left: 15px;
}

aside#audioplayer #audioplayer-arrow-left::after {
  top: 14px;
  left: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

aside#audioplayer #slide-background {
  background-color: darkslategrey;
  width: calc(40vw + 20px);
  height: calc(100% - 180px);
  position: absolute;
  top: 90px;
  left: calc(30vw - 10px);
  z-index: -1;
  transform: rotate(0deg);
}

aside#audioplayer .slider-container {
  height: 100%;
  min-width: 100vw;
  padding: 100px 0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  padding-left: 30vw;
  transition: transform 0.5s ease-in-out, 
              -webkit-transform 0.5s ease-in-out;
}

aside#audioplayer .slider-container .slide {
  height: 100%;
  width: 40vw;
  cursor: grab;
  margin-right: 10vw;
  background-image: url("img/vinyl.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: green;
}

main {
  width: 80vw;
  padding-top: 50px;
  padding-left: 10vw;
}