/* Rest */
* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, form, label, article, aside, figure, figcaption, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* Animations */
@keyframes bar1 {
  0%   {
    margin-left: -20%;
  }
  50%  {
    margin-left: -40%;
  }
  100% {
    margin-left: -20%;
  }
}
@keyframes bar2 {
  0%   {
    margin-left: -15%;
  }
  50%  {
    margin-left: -25%;
  }
  100% {
    margin-left: -15%;
  }
}
@keyframes bar3 {
  0%   {
    margin-left: -10%;
  }
  50%  {
    margin-left: -20%;
  }
  100% {
    margin-left: -10%;
  }
}
@keyframes bar4 {
  0%   {
    margin-left: -25%;
  }
  50%  {
    margin-left: -35%;
  }
  100% {
    margin-left: -25%;
  }
}
@keyframes bar5 {
  0%   {
    margin-left: -15%;
  }
  50%  {
    margin-left: -40%;
  }
  100% {
    margin-left: -15%;
  }
}
@keyframes bar6 {
  0%   {
    margin-left: 20%;
  }
  50%  {
    margin-left: 40%;
  }
  100% {
    margin-left: 20%;
  }
}
@keyframes bar7 {
  0%   {
    margin-left: 15%;
  }
  50%  {
    margin-left: 25%;
  }
  100% {
    margin-left: 15%;
  }
}
@keyframes bar8 {
  0%   {
    margin-left: 10%;
  }
  50%  {
    margin-left: 20%;
  }
  100% {
    margin-left: 10%;
  }
}
@keyframes bar9 {
  0%   {
    margin-left: 25%;
  }
  50%  {
    margin-left: 35%;
  }
  100% {
    margin-left: 25%;
  }
}
@keyframes bar10 {
  0%   {
    margin-left: 15%;
  }
  50%  {
    margin-left: 40%;
  }
  100% {
    margin-left: 15%;
  }
}

/* Fonts */
h1, h2, h3, h4, h5, h6, p, a, label {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 23.1vw;
}

/* Content */
html {
  height: 100vh;
  max-height: 100vh;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #d6d9c8;
}

main {
  overflow: hidden;
  max-width: calc(100% + 2vw);
  position: absolute;
  bottom: -6vw;
  left: -2vw;
}

main h1 {
  font-weight: 600;
  font-size: 23.1vw;
  color: #b80a13;
}

main div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 23vw 0 5vw;
  margin-bottom: -10px;
}

main div p {
  font-size: 1.2rem;
}

#barsAnimate {
  overflow: hidden;
}

#barsAnimate div {
  background-color: #000;
  width: 100%;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Responsive - Tablet */
@media screen and (max-width: 991px) {
  main div {
    padding-right: 10vw;
  }
}

/* Responsive - Mobile */
@media screen and (max-width: 767px) {
  main div {
    flex-direction: column;
    padding-right: 5vw;
    padding-bottom: 20px;
  }
  main div p {
    text-align: right;
    margin-top: 10px;
  }
}